built/
build/
node_modules/
tmp
package-lock.json
temp/
.env*
__pycache__/
packages/sample/*.slides.md
**/.genaiscript/genaiscript.*js
vscode-extension-samples/
.DS_Store
.genaiscript/temp
.genaiscript/retrieval
results/
.genaiscript/
applications/EdgePeeringAI
docs/public/slides/
yarn-error.log
test.sh
esbuild.*.json
esbuild.*.html
dev/
foobar*.genai.mjs
azure-sdk-for-js/
trapi.md
.env.local
genaiscript.config.yaml
packages/core/*.temp.*
*.vsix
packages/sample/test.txt
packages/sample/poems/*.txt
packages/sample/src/rag/markdown.md.txt
*.genai.md
packages/sample/src/rag/*.genai.*.json
*v8.log
*.cpuprofile
*.heapprofile
*.heapsnapshot
packages/sample/src/xpai/*.json
packages/sample/src/xpai/*.csv
