[submodule "applications/lza/aca-landing-zone-accelerator"]
	path = applications/lza/aca-landing-zone-accelerator
	url = https://github.com/Azure/aca-landing-zone-accelerator/
[submodule "chatgpt-retrieval-plugin"]
	path = chatgpt-retrieval-plugin
	url = https://github.com/openai/chatgpt-retrieval-plugin.git
