built/
build/
node_modules/
tmp
package-lock.json
temp/
.env*
__pycache__/
packages/sample/*.slides.md
**/.genaiscript/genaiscript.*js
vscode-extension-samples/
.DS_Store
.genaiscript/temp
.genaiscript/retrieval
results/
.genaiscript/
applications/EdgePeeringAI
docs/public/slides/
yarn-error.log
test.sh
