.vscode-body details.genaiscript {
    font-size: var(--markdown-font-size, 14px);
    margin-left: 1rem;
}

.vscode-body details.genaiscript summary {
    font-size: var(--vscode-font-size, 14px);
    cursor: pointer;
}

.vscode-body details.genaiscript pre code.code-line {
    font-size: var(--markdown-font-size, 14px);
}
