.vscode-body details.genaiscript {
    font-size: var(--markdown-font-size, 14px);
    margin-left: 1rem;
}

.vscode-body details.genaiscript summary {
    font-size: var(--vscode-font-size, 14px);
    cursor: pointer;
}

.vscode-body details.genaiscript pre code.code-line {
    font-size: var(--markdown-font-size, 14px);
}

:root {
    --color-note: #0969da;
    --color-tip: #1a7f37;
    --color-warning: #9a6700;
    --color-severe: #bc4c00;
    --color-caution: #d1242f;
    --color-important: #8250df;
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-note: #2f81f7;
        --color-tip: #3fb950;
        --color-warning: #d29922;
        --color-severe: #db6d28;
        --color-caution: #f85149;
        --color-important: #a371f7;
    }
}

.vscode-body .markdown-alert {
    padding: 0.5rem 1rem;
    margin-bottom: 16px;
    color: inherit;
    border-left: 0.25em solid #888;
}

.vscode-body .markdown-alert > :first-child {
    margin-top: 0;
}

.vscode-body .markdown-alert > :last-child {
    margin-bottom: 0;
}

.vscode-body .markdown-alert .markdown-alert-title {
    display: flex;
    font-weight: 500;
    align-items: center;
    line-height: 1;
}

.vscode-body .markdown-alert .markdown-alert-title .octicon {
    margin-right: 0.5rem;
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}

.vscode-body .markdown-alert.markdown-alert-note {
    border-left-color: var(--color-note);
}

.vscode-body .markdown-alert.markdown-alert-note .markdown-alert-title {
    color: var(--color-note);
}

.vscode-body .markdown-alert.markdown-alert-important {
    border-left-color: var(--color-important);
}

.vscode-body .markdown-alert.markdown-alert-important .markdown-alert-title {
    color: var(--color-important);
}

.vscode-body .markdown-alert.markdown-alert-warning {
    border-left-color: var(--color-warning);
}

.vscode-body .markdown-alert.markdown-alert-warning .markdown-alert-title {
    color: var(--color-warning);
}

.vscode-body .markdown-alert.markdown-alert-tip {
    border-left-color: var(--color-tip);
}

.vscode-body .markdown-alert.markdown-alert-tip .markdown-alert-title {
    color: var(--color-tip);
}

.vscode-body .markdown-alert.markdown-alert-caution {
    border-left-color: var(--color-caution);
}

.vscode-body .markdown-alert.markdown-alert-caution .markdown-alert-title {
    color: var(--color-caution);
}
