body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

div.snippet {
    position: relative;
}
div.snippet .buttons {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}
div.snippet:hover .buttons {
    opacity: 1;
}
.buttons vscode-button {
    margin-left: 0.2rem;
    cursor: pointer;
}
span.logprobs {
    color: white;
    white-space: pre;
    font-family: monospace;
    margin-right: 0.2rem;
    border-radius: 0.2rem;
    cursor: pointer;
}
table.toplogprobs {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: solid 1px grey;
    border-radius: 0.2rem;
}
table.toplogprobs span.logprobs {
    display: block;
    margin-bottom: 0.2rem;
}
table.toplogprobs td {
    border: none;
    padding: 0;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dropzone {
    cursor: pointer;
}
.no-margins {
    margin: 0 !important;
}

.vscode-body .markdown-body {
    font-size: var(--vscode-font-size);
}

.vscode-form-wide {
    height: unset;
    min-width: min(100vw - 1.5rem, 65rem);
    max-width: 100vw;
    min-height: 16rem;
    margin-left: 0.5rem;
}
