name: build

on:
    push:
        branches: [main]
    pull_request:
    workflow_dispatch:
jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [20, 22, 23]
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: "recursive"
                  fetch-depth: 10
            - uses: actions/setup-node@v4
              with:
                  node-version: "${{ matrix.node-version }}"
                  cache: yarn
            - run: sudo apt-get update && sudo apt-get install ffmpeg
            - run: yarn install --frozen-lockfile --prefer-offline
            - name: compile
              run: yarn compile:action
            - name: lint
              run: yarn lint
            - name: package vscode
              run: yarn package
            - name: compile system scripts
              run: yarn test:system
            - name: compile tests
              run: yarn test:compile
            - name: core tests
              run: yarn test:core
            - name: unit tests
              run: yarn test:samples
