name: Publish package to GitHub Packages
on:
    workflow_dispatch:
    release:
        types: [published]
jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: "20.x"
                  registry-url: "https://npm.pkg.github.com"
                  scope: "genaiscript"
                  cache: yarn
            - run: yarn install
            - run: yarn compile
            - run: npm publish
              working-directory: packages/cli
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
