name: ollama smoke tests
on:
    workflow_dispatch:
    release:
        types:
            - created
    pull_request:
        paths:
            - yarn.lock
            - ".github/workflows/ollama.yml"
            - "packages/core/**/*"
            - "packages/cli/**/*"
            - "packages/samples/**/*"
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}-ollama
    cancel-in-progress: true
jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: "recursive"
                  fetch-depth: 0
            - uses: actions/setup-node@v4
              with:
                  node-version: "20"
                  cache: yarn
            - run: yarn install --frozen-lockfile
            - name: typecheck
              run: yarn typecheck
            - name: compile
              run: yarn compile
            - name: start ollama
              run: yarn ollama:start
            - name: run summarize-ollama-phi3
              run: yarn test:summarize --model ollama:phi3.5:latest --out ./temp/summarize-ollama-phi3
              env:
                  OLLAMA_HOST: "http://localhost:11434"
            - name: run convert-ollama-phi3
              run: yarn cli convert summarize --model ollama:phi3.5:latest "packages/sample/src/rag/*.md" --cache-name sum
              env:
                  OLLAMA_HOST: "http://localhost:11434"
