name: upgrade dependencies

on:
    schedule:
        - cron: "0 5 * * 1"
    workflow_dispatch:
jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [20]
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: "recursive"
                  fetch-depth: 10
            - uses: actions/setup-node@v4
              with:
                  node-version: "${{ matrix.node-version }}"
                  cache: yarn
            - run: yarn install --frozen-lockfile
            - run: yarn upgrade:deps
